body {
    background: url('https://images.pexels.com/photos/2564846/pexels-photo-2564846.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    
  }